:root {
    --navy-blue: #2E2F42;
    --slate: #434455;
    --white: #FFFFFF;
    --cloud: #F4F4FD;
    --ocean: #404BBF;
    --iris: #4D5AE5;

}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    background-color: var(--white);
}

.list {
    list-style: none
}

.link {
    list-style-type: none;
    text-decoration: none;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
}

.main-adress {
    font-style: normal;
}

.beggining {
    background-color: var(--navy-blue);
}

.main-team {
    background-color: var(--cloud);
}

.team-img {
    background-color: var(--white);
}

.main-team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**----------------SIMILAR-----------------**/

.header-contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-decoration: none;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: var(--ocean);
}

.header-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    text-decoration: none;
}


.logo-word {
    color: var(--navy-blue);
}

.header-navigation-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-decoration: none;
}

.header-navigation-link:hover,
.header-navigation-link:focus {
    color: var(--ocean);
}

/**-----------------MAIN---------------------**/


.main-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--main-bg-color);
    background-color: var(--iris);
    cursor: pointer;
}

.main-button:hover,
.main-button:focus {
    background-color: var(--ocean);
}

.main-benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.main-paragraph-benefits {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.main-section-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
}

.port-adress {
    font-style: normal
}

.portfolio-navigation-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    text-decoration: none;
    background-color: var(--cloud);
    cursor: pointer;
}

.portfolio-navigation-button:hover,
.portfolio-navigation-button:focus {
    color: var(--white);
    background-color: var(--ocean);
}

.port-article {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.port-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



.footer {
    background-color: var(--navy-blue);
}


.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}


.footer-logo-span {
    color: var(--cloud);
}


.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
}